<body>
    <%- include('cabecalho') %>

    <main class="main_login">
        <div class="div_tituloFormularioLogin">
            <h1>FAÇA SEU LOGIN</h1>
        </div>
        <div class="div_formularioLogin">
            <!--<form id='form_logincontribuinte' action="/contribuintes/login" method="post"  onsubmit="event.preventDefault(); processaForm(this);">-->
            <form id='form_logincontribuinte' action="/contribuintes/login" method="post">
                <div class="div_campoForm">
                    <label for="email">Usuário</label>
                    <input type="text" name="email" id="email"/>
                </div>
                <div class="div_campoForm">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha"/>
                </div>
                <div class="div_rodapeFormularioLogin">
                    <button id="botao_login" class="botao_padrao">Login</button>
                </div>
            </form>
        </div>
    </main>
    
    <script>
        async function processaForm(form) {
            let username = form.username.value;
            let senha = form.senha.value;
            try {
                if (botao_login==1){
                    await usuariosStore.inserir({username, senha});
                }else{
                    console.log('Acesso Negado!');
                }
                limpaCampos()
                mostrarLista();
            } catch(erro) {
                alert(erro);
            }
        }
    </script>

    <%- include('rodape') %>
</body>
</html>