<body>
    <%- include('cabecalho') %>

    <main class="main_login">
        <div class="div_tituloFormularioLogin">
            <h1>FAÇA SEU LOGIN</h1>
        </div>
        <div class="div_formularioLogin">
            <form id='form_logincontribuinte' action="/aberturachamados" method="post"  onsubmit="event.preventDefault(); processaForm(this);">
                <div class="div_campoForm">
                    <label for="username">Usuário</label>
                    <input type="text" name="username" id="username"/>
                </div>
                <div class="div_campoForm">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha"/>
                </div>
                <div class="div_rodapeFormularioLogin">
                    <button id="botao_login" class="botao_padrao">Login</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('rodape') %>
</body>
</html>